/* COLOR CUBE */
$white: #ffffff;
$cod_gray: #0b0b0b;
$shady_lady: #aeadae;
$mountain_meadow: #1fad96;
$emperor: #504442;
$thunderbird: #cd1917;
$santa_fe: #ad6f5b;
$turquoise_blue: #5df0c8;
$koromiko: #ffbe6b;
$royal_blue: #4473ee;

/* MEDIAN CUT */
$hint_of_red: #f6f3f5;
$outer_space: #2c3837;
$edward: #9ea4a5;
$cooper_rust: #975c4d;
$sandal: #ad876a;

/* MATERIAL DESIGN */
$jungle_green: #25ab94;
$gun_powder: #48495f;
$eunry: #c99f8e;